body {
  margin: 0;
}

section {
  text-align: center;
  width: 75%;
  position: absolute;
  opacity: 0;
  transition: opacity 0.7s ease-out;
  top: 0;
  left: 25%;
}

section.active {
  opacity: 1;
}

aside,
section {
  margin-top: 1vw;
}

aside {
  width: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

aside li {
  flex-grow: 1;
}

section h3,
section p {
  margin: 1vw;
  font-family: 'Franklin Gothic';
  font-size: 2.2vw;
}

section p {
  font-size: 1.5vw;
  max-width: 50%;
  margin: 1vw auto;
}

section img {
  width: 35%;
  height: 25vw;
}

main {
  margin-top: 10vw;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

aside li {
  list-style-type: none;
  font-size: 2.2vw;
  font-family: 'Franklin Gothic';
  background: blue;
  color: white;
  padding: 2.1vw 0.5vw;
}

aside li:hover {
  cursor: pointer;
  background: deepskyblue;
}

.selected {
  background: rgb(64, 203, 224);
}

@media screen and (max-width: 1200px){
body{
  background-color: rgb(0, 0, 48);
}
aside{
  flex-direction: row;
width: 100%;
}
main{
  flex-direction: column;  
}
section:not(.active){
  position: absolute;
  left: 300vw;
}
section{
  text-align: center;
  width: 100%;
  position: static;
  margin: 1vw auto;
  color: aliceblue;
}
}

@media screen and (max-width: 600px){
  body{
    background-color: black;
  }
  aside{
    flex-direction: column;
  max-width: 20%;
  }
  main{
    flex-direction: row;
    width: 100%;
  }
  section:not(.active){
    left: 300vw;
  }
  section{
    text-align: center;
    max-width: 80%;
  }
  section h3,
section p {
  font-size: max(2.2vw, 0.7rem)
  }
  aside  li{
    font-size: max(2.2vw, 0.7rem)
  }
}